// colors
@logo-primary: #fff;
@logo-secondary: #fcb614;
@logo-hover: #1bb1ba;
@logo-inverse: #333;

@font-primary: #333;
@background: #222;

@gray: #ccc;
@light-gray: #dedede;
@dark-gray: #777;

// fonts
@base-font: "open-sans", "Helvetica", sans-serif;
@logo-font: "adelle", serif;